<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>HakgyoansimDunggeunmisoOTF-B.otf</string>
		<string>HakgyoansimDunggeunmisoOTF-R.otf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>BackgroundColor</key>
		<string>LaunchBackground</string>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hwatgim</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.essol2.hwatgim</string>
		</dict>
	</array>
</dict>
</plist>
